*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    }

/*Estos son los colores del hostal, en variables para llamarse en forma rápida*/
$blueSunny1: (#11224f);
$blueSunny2: (#1A3B71);
$orangeSunny1: (#F98126);
$orangeSunny2: (#FB9B51);

body{
    font-family: 'Montserrat', 'sans-serif';
    overflow-x: hidden;
}
/*Menú en formato desktop*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: 8vh;

    .header__logo{
        position: relative;
        flex: 1;
        flex-wrap: none;
        color: white;
        padding: 25px;
        z-index: 999;
    }

    .header__navbar{
        position: relative;
        padding-top: 8px;
        padding-bottom: 20px;
        z-index: 999;
        background: none;
        border: 0;
        border-radius: 0;
        text-align: center;
    }

    .header__navbar ul{
        display: flex;
        flex: 2;
        flex-direction: row;
        align-items: space-evenly;
        font-size: 18px;
        padding-right: 40px;
    }

    .header__navbar ul li{
        color: white;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        padding: 20px;
    }

    .header__navbar a{
        text-decoration: none;
        height: 100%;
        color: white;
        font-weight: 600;
    }

    .header__navbar a:hover{
        height: 100%;
        color: black;
        background-color: white;
    }
}

@media  only screen and (min-width:768px){
    .header__logo{
        flex: 1;
    }
    .header__navbar ul{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: right;
    }
}

#carruselArica{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 5vh;
}

/*Esta sección le da estilo a la página Nosotros*/

.main__nosotros__body{
    background-image: linear-gradient($blueSunny1, $blueSunny2);
    color:white;
    overflow-x: hidden;
}

#main__nosotros{
    padding: 7vh 20vw 2vh 20vw;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 0.5fr 0.5fr 2fr 2fr;
    column-gap: 30px;
    row-gap: 10px;
    justify-self: center;
    grid-template-areas:
    "tituloNosotros tituloNosotros tituloNosotros"
    "subtituloNosotros subtituloNosotros subtituloNosotros"
    "img1 img2 textoNosotros"
    "img3 img4 textoNosotros";

    .tituloSunny{
        grid-area: tituloNosotros;
    }

    .subtituloSunny{
        grid-area: subtituloNosotros;
    }

    .imgUno{
        grid-area: img1;
        background-image: url("../archivos/nosotros-4.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .imgDos{
        grid-area: img2;
        background-image: url("../archivos/nosotros-5.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .imgTres{
        grid-area: img3;
        background-image: url("../archivos/nosotros-6.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .imgCuatro{
        grid-area: img4;
        background-image: url("../archivos/nosotros-7.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .textoNosotros{
        font-size: 15px;
        font-weight: 400;
        grid-area: textoNosotros; 
        text-align: justify;
    }
}

#main__servicios{
    display: flex;
    flex-direction: column;
    margin: 15vh 15vw 5vh 15vw;
    padding-bottom: 40vh;

    .main__servicios_modifier{
        display: flex;
        flex-direction: row;
        align-content: center;
        padding-top: 7vh;

        div{
            background-color: $blueSunny1;
            width: 300px;
            height: 270px;
            color: white;
            text-align: left;
            margin: 0px 2px 0px 5px;

            p{
                font-size: 14px;
                padding: 20px;
            }

        }
    }
}

/*Estos son los estilos para la página Experiencias*/

#main__experiencias{
    display: flex;
    flex-direction: column;
    justify-self: center;

    h1{
        font-size: 25px;
        font-weight: 400;
        margin: 3vh 12vw 3vh 12vw;
    }

    .main__experiencias__modifier{
        display: flex;
        flex-direction: row;
        margin: 0px 10vw 0px 10vw;

        .cardExperience{
            display: flex;
            flex-direction: column;
            padding: 2vw;
            width: 80vw;
            height: auto;

            .imgYfoto{
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;

                img{
                    height: 6vh;
                    padding: 0.5vh;
                }
                p{
                    font-size: 16px;
                    text-align: justify;
                    padding: 1em;
                }
            }

            p{
                font-size: 14px;
            }
        }
    }
}

/*Los estilos siguientes corresponden a la página Acerca Arica*/

#main__acercaArica{
    display: flex;
    flex-direction: column;
    padding: 7vh 10vw 2vh 10vw;

    #main__acercaArica__info{
        display: flex;
        flex-direction: column;

        .main__acercaArica__modifier{

            padding-bottom: 10vh;

            a:link{
                text-align: center;
                text-decoration: none !important;
                color: black;
            }
        }

        .main__acercaArica__info__modifier{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 0.9em;
            padding-top: 9vh;

            img{
                width: 25vw;
                padding: 0px 2vw 0px 2vw;
            }

            p{
                text-align: justify;
            }
        }
    }

    #infoArica2{
        display: flex;
        flex-direction: column;
        padding-top: 20vh;
        padding-bottom: 40vh;

        h3{
            padding: 0vh 0vw 2vh 0vw;
        }

        .imgsArica{
            display: flex;
            flex-direction: row;

            img{
                width: 15vw;
                padding: 15vh 0.5vw 15px 0.5vw;
            }
        }
    }
}

/*A partir de los estilos de Habitaciones se codea directamente en el CSS, por causa de un error que no
pude resolver*/